In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [9]:
df = pd.read_csv("green_tripdata_2019-09.csv")

C:\Users\emahc\AppData\Local\Temp\ipykernel_32812\2375851963.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-09.csv")

In [7]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [15]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [30]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv",iterator=True,chunksize=100000)
df=next(df_iter)

In [31]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [32]:
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine,if_exists="replace")

0

In [33]:
df.to_sql(name="yellow_taxi_data",con=engine,if_exists="append")

1000

In [34]:
while True:
    df=next(df_iter)
    df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data",con=engine,if_exists="append")
    print("insert")

insert
insert

C:\Users\emahc\AppData\Local\Temp\ipykernel_32812\1602051688.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

insert
insert

StopIteration:

In [38]:
df2 = pd.read_csv("taxi_zone_lookup.csv")
df2
df2.head(n=0).to_sql(name="taxi_zone_lookup",con=engine,if_exists="replace")
df2.to_sql(name="taxi_zone_lookup",con=engine,if_exists="append")

265

In [40]:
df2[df2.Zone=="Astoria"]

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [41]:
df.PULocationID

400000     42
400001    169
400002     29
400003     95
400004     74
         ...
449058     66
449059     55
449060    139
449061    242
449062    155
Name: PULocationID, Length: 49063, dtype: int64

In [ ]:
#select count(1) from yellow_taxi_data where lpep_pickup_datetime>= '2019-09-18 00:00:00' 
# AND lpep_dropoff_datetime < '2019-09-18 24:00:00'


#SELECT MAX(trip_distance) AS max_trip_distance, DATE(lpep_pickup_datetime) AS pickup_date
#FROM yellow_taxi_data
#GROUP BY DATE(lpep_pickup_datetime)
#order max_trip_distance;

#SELECT SUM(total_amount) AS total_amount, tzl."Borough" FROM   (SELECT total_amount, "PULo  cationID"    FROM yellow_taxi_data    WHERE DATE(lpep_pickup_datetime) = '2019-09-18') yt LEFT JOIN   taxi_zone_l  ookup tzl ON yt."PULocationID" = tzl."LocationID" GROUP BY tzl."Borough";

SELECT max(tip_amount) AS tip, tzl."Zone" FROM   (SELECT tip_amount, "PULocationID"    FROM yellow_taxi_data where  "PULocationID"==7  ) yt LEFT JOIN  taxi_zone_lookup tzl ON yt."DOLocationID" = tzl."LocationID" GROUP BY tzl.  "Zone" ORDER BY tip