In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [9]:
df = pd.read_csv("green_tripdata_2019-09.csv")

C:\Users\emahc\AppData\Local\Temp\ipykernel_32812\2375851963.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-09.csv")

In [7]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [14]:
from sqlalchemy import create_engine

In [15]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [30]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv",iterator=True,chunksize=100000)
df=next(df_iter)

In [31]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [32]:
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine,if_exists="replace")

0

In [33]:
df.to_sql(name="yellow_taxi_data",con=engine,if_exists="append")

1000

In [34]:
while True:
    df=next(df_iter)
    df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data",con=engine,if_exists="append")
    print("insert")

insert
insert

C:\Users\emahc\AppData\Local\Temp\ipykernel_32812\1602051688.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=next(df_iter)

insert
insert

StopIteration:

In [ ]:
2019-09-18

In [35]:
lpep_dropoff_datetime<= '2019-09-18 25:00:00';

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
400000,NaN,2019-09-06 21:06:00,2019-09-06 21:23:00,NaN,NaN,42,167,NaN,3.19,23.35,2.75,0.5,0.0,0.00,NaN,0.0,26.60,NaN,NaN,NaN
400001,NaN,2019-09-06 21:48:00,2019-09-06 22:01:00,NaN,NaN,169,127,NaN,4.44,19.73,2.75,0.5,0.0,0.00,NaN,0.0,22.98,NaN,NaN,NaN
400002,NaN,2019-09-06 21:08:00,2019-09-06 21:26:00,NaN,NaN,29,228,NaN,9.38,28.95,2.75,0.5,0.0,0.00,NaN,0.0,32.20,NaN,NaN,NaN
400003,NaN,2019-09-06 21:06:00,2019-09-06 21:30:00,NaN,NaN,95,203,NaN,8.85,29.36,2.75,0.5,0.0,0.00,NaN,0.0,32.61,NaN,NaN,NaN
400004,NaN,2019-09-06 21:10:00,2019-09-06 21:44:00,NaN,NaN,74,218,NaN,17.62,48.30,2.75,0.5,0.0,6.12,NaN,0.0,57.67,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.0,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.0,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.0,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.0,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.0,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [ ]:
#select count(1) from yellow_taxi_data where lpep_pickup_datetime>= '2019-09-18 00:00:00' 
# AND lpep_dropoff_datetime < '2019-09-18 24:00:00'